*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.ms-altezza{
    height: 60px;
}
.ms-altezza-sezione{
    height: 950px;
}
.ms-button{
    color: white;
    background-color: #058283;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
}
.ms-button-transp{
    color: white;
    background-color: rgba(0, 0, 0, 0);
    border: solid 1px #058283;
    padding: 10px 20px;
    border-radius: 5px;
}
.ms-text{
    font-size: 80px;
}
.ms-padding{
    padding: 100px 0px;
}
.ms-testo-background{
    padding: 5px 10px;
    background-color: rgba(5, 82, 83, 0.4);
}
