$colorWhite: white;

$colorBlack1: #111117;
$colorBlack2: #19191f;
$colorBlack3: #1d1d23;
$colorBlack4: #060a0c;

$colorDarkBlue: #21333e;

$colorLightGrey: #bcbdbd;
$colorDoubleLightGrey: #daeced;
$colorGreyForm1: #ececec;
$colorGreyForm2: #a4abb0;
$colorGreyFooter: #a2a9af;

$colorOpacity1: rgba(4,83,83,0.3);
$colorOpacity2: rgba(255, 255, 255, 0.7);
$colorOpacity3: rgba(0, 0, 0, 0.5);
$colorOpacity4: rgba(0, 0, 0, 0);
$colorOpacity5: rgba(255, 255, 255, 0.1);

$colorTurchese: #52babb;
$colorDarkTurchese: #058283;

$colorCream: #eef4ed;









